@charset "UTF-8";
*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #EBA367, #F56849);
}

p{
    text-align: justify;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #a347328e;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #5B0CE8;
    text-align: center;
    text-shadow: 1px 1px 2px #4109a1b6;
}

h2{
    color: #E694F2;
}